<template>
  <section
        class="bg-fixed grid relative bg-[url('https://i0.wp.com/www.althemist.com/zass/wp-content/uploads/2018/09/zass_dark_hero1.jpg?fit=1920%2C1040&')] h-[300px] lg:h-[400px] bg-center">
        <img class="rotate-180 absolute bottom-0 left-0"
            src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png" />
        <img class="rotate-180 absolute top-0 left-0"
            src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png" />
        <div class="w-full grid place-items-center text-center">
            <div>
                <p class=" text-base lg:text-xl text-white font-normal mb-10">
                    Home | About
                </p>
                <h1 class="text-white font-bold text-4xl">
                    About Us
                </h1>
            </div>
        </div>
    </section>

    <section class="max-w-[80%] mx-auto my-20 grid grid-cols-2 gap-10">
          <div class="w-full h-full p-4">
                <img src="https://i1.wp.com/www.althemist.com/zass/wp-content/uploads/2017/03/about_pic.jpg?w=800&ssl=1" alt="">
          </div>

          <div class="space-y-10 p-4">
                <h3 class="text-center text-4xl font-bold">Our Story</h3>
                <h4 class="text-center text-lg font-medium">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias aut labore dolores repellendus culpa.</h4>
                <p class="text-base text-center text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, sit dolor. Vitae odit quibusdam doloremque nihil omnis a dolore, sequi voluptas veniam quod error, culpa incidunt vero quia accusantium ducimus sed eligendi eos? Sequi, qui aliquam sit velit assumenda provident aut iure dignissimos dolorem in nihil quia! Nostrum, facere blanditiis.</p>
          </div>
    </section>
</template>
