<template>
  <section
    class="bg-fixed grid relative bg-[#f7f3f2] h-[200px] lg:h-[300px] bg-center"
  >
    <img
      class="rotate-180 absolute bottom-0 left-0"
      src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png"
    />
    <img
      class="rotate-180 absolute top-0 left-0"
      src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png"
    />
    <div class="max-w-[80%] w-full mx-auto flex justify-start items-center">
      <div>
        <p class="text-base lg:text-lg text-black font-normal mb-10">
          Home | Cart
        </p>
        <h1 class="text-black font-bold text-5xl">Cart</h1>
      </div>
    </div>
  </section>

  <section class="my-20 max-w-[80%] mx-auto grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-8 overflow-x-auto">
      <table class="w-full">
        <thead class="bg-gray-100 py-2">
          <tr>
            <th class="text-left p-2">Product</th>
            <th class="text-left p-2">Price</th>
            <th class="text-left p-2">Quantity</th>
            <th class="text-left p-2">Total</th>
            <th class="text-left p-2"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-left py-2">
              <div class="flex gap-4">
                <div class="w-20 h-20">
                  <img
                    class="w-full h-full object-cover"
                    src="https://www.althemist.com/zassmarketplace/wp-content/uploads/2017/01/zprod7-2-100x100.jpg"
                    alt=""
                  />
                </div>

                <div class="flex flex-col">
                  <h3>Product 01</h3>
                  <div class="text-xs">
                    <p class="text-sm mb-2">Pro-001</p>
                    <p class="inline-block">Color: black</p>
                    <p class="inline-block ml-2">Size: Small</p>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-left p-2 text-red-500">$9.99</td>
            <td class="text-left p-2">
              <div class="flex space-x-4 items-center text-lg">
                <button class="p-2 rounded-lg bg-gray-100 active:scale-95 transition-all">
                  <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
                    />
                  </svg>
                </button>
                <button>1</button>
                <button class="p-2 rounded-lg bg-gray-100 active:scale-95 transition-all">
                  <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      fill="currentColor"
                      d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                    />
                  </svg>
                </button>
              </div>
            </td>
            <td class="text-left p-2 text-red-500">88</td>
            <td class="text-left p-2">
              <button class="p-2 rounded-lg bg-red-50 text-red-600 active:scale-95 transition-all">
                <svg
                  class="w-3 h-3"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    fill="currentColor"
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                  />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td class="text-left py-2">
              <div class="flex gap-4">
                <div class="w-20 h-20">
                  <img
                    class="w-full h-full object-cover"
                    src="https://www.althemist.com/zassmarketplace/wp-content/uploads/2017/01/zprod7-2-100x100.jpg"
                    alt=""
                  />
                </div>

                <div class="flex flex-col">
                  <h3>Product 01</h3>
                  <div class="text-xs">
                    <p class="text-sm mb-2">Pro-001</p>
                    <p class="inline-block">Color: black</p>
                    <p class="inline-block ml-2">Size: Small</p>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-left p-2">$9.99</td>
            <td class="text-left p-2">
              <div class="flex space-x-4 items-center text-lg">
                <button class="p-2 rounded-lg bg-gray-100 active:scale-95 transition-all">
                  <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
                    />
                  </svg>
                </button>
                <button>1</button>
                <button class="p-2 rounded-lg bg-gray-100 active:scale-95 transition-all">
                  <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      fill="currentColor"
                      d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                    />
                  </svg>
                </button>
              </div>
            </td>
            <td class="text-left p-2">88</td>
            <td class="text-left p-2">
              <button class="p-2 rounded-lg bg-red-50 text-red-600 active:scale-95 transition-all">
                <svg
                  class="w-3 h-3"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    fill="currentColor"
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-span-12 lg:col-span-4 border p-1">
          <h3 class="text-xl border-b border-gray-100 p-2 font-semibold">Cart Totals</h3>
          <div class="flex flex-col px-5 py-5 space-y-5">
              <div class="grid grid-cols-2">
                    <span>SubTotal </span>
                    <span class="border-b border-gray-200 pb-2">100$ </span>
              </div>
              <div class="grid grid-cols-2">
                    <span>Discount </span>
                    <span>10% OFF </span>
              </div>
              <div class="grid grid-cols-2">
                    <span>Total </span>
                    <span class="text-red-600">500$</span>
              </div>
              <div class="grid grid-cols-1">
                    <button class="w-full border border-dashed border-pink-700 py-2 rounded-full text-pink-700">Proceed to checkout</button>
              </div>
          </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>