<template>
    <section
      class="bg-fixed grid relative bg-[#f7f3f2] h-[200px] lg:h-[300px] bg-center"
    >
      <img
        class="rotate-180 absolute bottom-0 left-0"
        src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png"
      />
      <img
        class="rotate-180 absolute top-0 left-0"
        src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png"
      />
      <div class="max-w-[80%] w-full mx-auto flex justify-start items-center">
        <div>
          <p class="text-base lg:text-lg text-black font-normal mb-10">
            Home | Check Out
          </p>
          <h1 class="text-black font-bold text-5xl">Check Out</h1>
        </div>
      </div>
    </section>
  
    <section class="my-20 max-w-[80%] mx-auto grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-8 border border-gray-100 p-3">
            <h3 class="text-xl font-semibold">Billing details</h3>
      </div>
      <div class="col-span-12 lg:col-span-4 border border-gray-100 p-5">
            <table class="w-full border border-gray-100">
                    <tr>
                            <td class="bg-gray-100 p-2">Product</td>
                            <td class="bg-gray-100 p-2">Quantity</td>
                            <td class="bg-gray-100 p-2">Subtotal</td>
                    </tr>

                    <tr>
                            <td class="p-2">adsfafds</td>
                            <td class="p-2">10</td>
                            <td class="p-2">100$</td>
                    </tr>
                    <tr class="border-t border-gray-100 py-4">
                            <td class="p-2 font-semibold" colspan="2">Subtotal</td>
                            <td class="p-2 border-b border-gray-100">100$</td>
                    </tr>
                    <tr class=" py-4">
                            <td class="p-2 font-semibold" colspan="2">Discount</td>
                            <td class="p-2 border-b border-gray-100">10%</td>
                    </tr>
                    <tr class=" py-4">
                            <td class="p-2 font-semibold" colspan="2">Total</td>
                            <td class="p-2 ">1000$</td>
                    </tr>
            </table>

            <div class="my-4 text-gray-400">
                 <h3><span class="text-red-600 text-lg">*</span> Direct bank transfer</h3>
                 <p class="px-4 py-1 text-sm">
                    Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.
                 </p>
            </div>

            <div>
                <button class="w-full border border-dashed border-pink-700 py-2 rounded-full text-pink-700">Place Order</button>
            </div>

            </div>

      
      
    </section>
  </template>
  
  <script>
  export default {};
  </script>
  
  <style></style>