<template>

    <section
        class="bg-fixed grid relative bg-[url('https://i0.wp.com/www.althemist.com/zass/wp-content/uploads/2018/09/zass_dark_hero1.jpg?fit=1920%2C1040&')] h-[300px] lg:h-[400px] bg-center">
        <img class="rotate-180 absolute bottom-0 left-0"
            src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png" />
        <img class="rotate-180 absolute top-0 left-0"
            src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png" />
        <div class="w-full grid place-items-center text-center">
            <div>
                <p class=" text-base lg:text-xl text-white font-normal mb-10">
                    Home | Contact
                </p>
                <h1 class="text-white font-bold text-4xl">
                    Contact Us
                </h1>
            </div>
        </div>
    </section>

    <section class="max-w-[80%] w-full mx-auto my-20 gap-5 grid grid-cols-1 lg:grid-cols-2">
            <div class="space-y-10">
                    <h1 class="capitalize text-3xl font-bold text-center">Put Us To Work</h1>
                    <h2 class="text-center text-xl font-medium">
                        Or Just Say Hi. We'd Love to Hear From You and Discuss What You Need.
                    </h2>

                    <p class="text-center text-gray-400">
                        Praesent a quam congue, egestas erat sit amet, finibus justo. Quisque viverra neque vehicula eros gravida ultricies. Ut lacinia enim nec consequat tincidunt.
                    </p>

                    <div class="text-center">
                            <p class="font-bold">Phone:</p>
                            <p>095840595</p>
                    </div>

                    <div class="text-center">
                            <p class="font-bold">Email:</p>
                            <p>cheasomalay@gmail.com</p>
                    </div>
                    <div class="text-center">
                            <p class="font-bold">Facebook:</p>
                            <p>cheasomalay</p>
                    </div>
                    <div class="text-center">
                            <p class="font-bold">Address:</p>
                            <p>Kroung Battambang</p>
                    </div>
            </div>
            <div class="shadow-sm border border-gray-100 p-5">
                    <p>Name, Phone,Telegram, Province,Comment</p>
            </div>
    </section>

    <section class="my-20">
        <h2 class="text-center text-3xl font-bold mb-10">Where To Find Us</h2>
        <iframe class="w-full h-[250px] lg:h-[450px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.955628791293!2d103.19626147454856!3d13.101997512007078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3105498c99011f0b%3A0x1d54085b6473844f!2sBattambang%20Central%20Market!5e0!3m2!1sen!2skh!4v1716563540971!5m2!1sen!2skh" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

</template>

<script>
export default {

}
</script>

<style></style>