<template>
  <main class="max-w-[90%] lg:max-w-[80%] mx-auto">
    <div>
        <SlideView />
    </div>

    <div class="border-b border-dashed border-gray-300 my-10"></div>

    <section class="space-y-4">
      <h1 class="text-center text-4xl font-bold mb-20">Picked for You</h1>
      <div class="grid grid-cols-2 gap-5 lg:grid-cols-3 xl:grid-cols-4">
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-52 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-52 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-52 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-52 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-5">
        <div></div>
      </div>
    </section>

    <div class="border-b border-dashed border-gray-300 my-20"></div>

    <section class="relative">
      <h1 class="text-center text-4xl font-bold">Categories On Focus</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 my-8">
        <div
          class="w-full h-[350px] border border-gray-200 p-5 group overflow-hidden relative"
        >
          <img
            class="group-hover:scale-125 transition-all duration-300 w-full h-full object-cover"
            src="https://i1.wp.com/www.althemist.com/zass/wp-content/uploads/2017/03/celleb_cat.jpg?resize=550%2C550&ssl=1"
          />
          <div
            class="h-[70px] left-0 bg-white/70 w-full absolute bottom-20 text-xl font-semibold grid place-items-center"
          >
            Kid & Baby
          </div>
          <div
            class="w-10 h-10 rounded-full bg-black text-white absolute left-1/2 right-1/2 bottom-28 -translate-x-1/2 -translate-y-1/2 grid place-items-center"
          >
            01
          </div>
        </div>
        <div
          class="w-full h-[350px] border border-gray-200 p-5 group overflow-hidden relative"
        >
          <img
            class="group-hover:scale-125 transition-all duration-300 w-full h-full object-cover"
            src="https://i0.wp.com/www.althemist.com/zass/wp-content/uploads/2017/03/baby_cat.jpg?resize=550%2C550&ssl=1"
          />
          <div
            class="h-[70px] left-0 bg-white/70 w-full absolute bottom-20 text-xl font-semibold grid place-items-center"
          >
            Kid & Baby
          </div>
          <div
            class="w-10 h-10 rounded-full bg-black text-white absolute left-1/2 right-1/2 bottom-28 -translate-x-1/2 -translate-y-1/2 grid place-items-center"
          >
            01
          </div>
        </div>
        <div
          class="w-full h-[350px] border border-gray-200 p-5 group overflow-hidden relative"
        >
          <img
            class="group-hover:scale-125 transition-all duration-300 w-full h-full object-cover"
            src="https://i1.wp.com/www.althemist.com/zass/wp-content/uploads/2017/03/celleb_cat.jpg?resize=550%2C550&ssl=1"
          />
          <div
            class="h-[70px] left-0 bg-white/70 w-full absolute bottom-20 text-xl font-semibold grid place-items-center"
          >
            Kid & Baby
          </div>
          <div
            class="w-10 h-10 rounded-full bg-black text-white absolute left-1/2 right-1/2 bottom-28 -translate-x-1/2 -translate-y-1/2 grid place-items-center"
          >
            01
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="my-20"></div>

  <section
    class="bg-fixed grid relative bg-[url('https://i0.wp.com/www.althemist.com/zass/wp-content/uploads/2018/09/zass_dark_hero1.jpg?fit=1920%2C1040&')] h-[500px] bg-center"
  >
    <img
      class="rotate-180 absolute bottom-0 left-0"
      src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png"
    />
    <img
      class="rotate-180 absolute top-0 left-0"
      src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png"
    />
    <div
      class="w-full flex flex-col space-y-6 justify-center items-center text-center"
    >
      <h1 class="text-white font-bold text-3xl xl:text-5xl">
        Your Best Source of Handmade Goods
      </h1>
      <p class="text-base lg:text-xl text-white font-normal mb-10">
        Discover Beautiful Products Made With Love
      </p>
      <button
        class="px-4 py-2 rounded-full border-2 text-white border-dashed border-white bg-transparent transition-all hover:bg-gray-200/30 hover:border-gray-200/20"
      >
        Views all products
      </button>
    </div>
  </section>

  <div class="my-20"></div>

  <main class="relative bg-[#f7f3f2] w-full h-auto">
    <img
      class="rotate-180"
      src="https://www.althemist.com/zassmarketplace/wp-content/themes/zass/image/ripoff.png"
    />
    <section class="max-w-[80%] mx-auto my-10">
      <h1 class="text-center text-4xl font-bold">New Arrivals</h1>

      <div
        class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mt-20"
      >
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="relative box group border border-gray-100 overflow-hidden">
          <div class="h-40 overflow-hidden 2xl:h-72 image-fit">
            <img
              class="group-hover:scale-125 transition-all duration-300"
              src="https://png.pngtree.com/png-clipart/20230126/original/pngtree-blooming-crochet-flower-png-image_8930156.png"
            />
          </div>
          <div class="text-slate-600 dark:text-slate-500 py-4">
            <div class="space-y-3 relative">
              <h3 class="text-center">Product 01</h3>
              <p
                class="text-red-500 text-center w-full animate-fade duration-500 group-hover:text-white"
              >
                $340.00
              </p>
              <div
                class="group-hover:flex animate-fade duration-500 hidden absolute top-0 left-0 w-full text-slate-600 dark:text-slate-500 py-4 space-x-2 text-xs justify-center"
              >
                <button
                  class="px-1.5 rounded-full border border-dashed border-gray-400"
                >
                  Add to cart
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button
                  class="w-8 h-8 grid place-items-center rounded-full border border-dashed border-gray-400"
                >
                  <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <img
      src="https://www.althemist.com/zassmarketplace/wp-content/themes/zass/image/ripoff.png"
    />
  </main>
  <div class="border-b border-dashed border-gray-300 my-20"></div>

  <section class="max-w-[90%] lg:max-w-[80%] mx-auto">
    <h1 class="text-center text-4xl font-bold mb-8">Our Partners</h1>
    <swiper-container class="mySwiper" :space-between="30"
    slides-per-view="4">
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
        <swiper-slide>
            <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
        </swiper-slide>
      </swiper-container>
    <!-- <div class="grid grid-cols-4 gap-5">
      <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
      <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
      <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
      <div class="box">
          <div class="p-2">
            <div
              class="h-52 overflow-hidden rounded-md 2xl:h-72 image-fit before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black/50 before:to-black/10">
              <img alt="item." class="rounded-md" src="https://img.freepik.com/premium-photo/beautiful-portrait-young-girl-sunlight-3680_208657-1452.jpg" />
             
              <div class="absolute flex flex-col gap-1 bottom-0 z-10 px-5 pb-5 text-white">
                <a href="" class="block text-base font-medium">
                   Kode Monkey
                </a>
                <a href="" class="text-xs block font-medium">
                      097849734
                </a>
              </div>
            </div>
            
          </div>
      </div>
    </div> -->
  </section>
  
  <div class="border-b border-dashed border-gray-300 my-20"></div>

  <section class="max-w-[90%] lg:max-w-[80%] mx-auto">
    <h1 class="text-center text-4xl font-bold mb-8">FQA</h1>
    <div class="grid grid-cols-3 gap-5">
      df
    </div>

  </section>
</template>

<script>
import NavbarView from "@/components/NavbarView.vue";
import { ref } from "vue";
import SlideView from '@/components/SlideView.vue';
export default {
  name: "HomeView",
  components: {
    NavbarView,
    SlideView
  },
  setup() {
    
  },
};
</script>

<style scoped>
  swiper-container {
      width: 100%;
      height: 100%;
  }
</style>

