<template>
    <section
        class="bg-fixed grid relative bg-[url('https://i0.wp.com/www.althemist.com/zass/wp-content/uploads/2018/09/zass_dark_hero1.jpg?fit=1920%2C1040&')] h-[300px] lg:h-[400px] bg-center">
        <img class="rotate-180 absolute bottom-0 left-0"
            src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png" />
        <img class="rotate-180 absolute top-0 left-0"
            src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png" />
        <div class="w-full grid place-items-center text-center">
            <div>
                <p class=" text-base lg:text-xl text-white font-normal mb-10">
                    Home | Account
                </p>
                <h1 class="text-white font-bold text-4xl">
                    My Account
                </h1>
            </div>
        </div>
    </section>

    <div class="max-w-[90%] lg:max-w-[80%] mx-auto my-20">
            
                <TabGroup as="div" class="grid grid-cols-1 gap-10">
                    <div class="flex items-center justify-center gap-5">
                        <TabList as="div" class="flex flex-wrap gap-4 justify-center items-center">
                                <Tab as="div" @click="handleActiveTab(1)" class="focus:outline-none">
                                    <button class="px-4 py-1.5 rounded-full border text-blue-800 border-dashed border-blue-800">Dashboard</button>  
                                </Tab>
                                <Tab @click="handleActiveTab(2)" class="focus:outline-none">
                                    <button class="px-4 py-1.5 rounded-full border text-blue-800 border-dashed border-blue-800">Orders</button>  
                                </Tab>
                                <Tab @click="handleActiveTab(3)" class="focus:outline-none">
                                    <button class="px-4 py-1.5 rounded-full border text-blue-800 border-dashed border-blue-800">Purchase History</button>  

                                </Tab>
                                <Tab @click="handleActiveTab(4)" class="focus:outline-none">
                                    <button class="px-4 py-1.5 rounded-full border text-blue-800 border-dashed border-blue-800">Account Details</button>  

                                </Tab>
                                <Tab @click="handleActiveTab(5)" class="focus:outline-none">
                                    <button class="px-4 py-1.5 rounded-full border text-red-800 border-dashed border-red-800">Log Out</button>  
                                </Tab>
                        </TabList>
                    </div>

                    <TabPanels class=" w-full bg-blue-300" as="div">
                            <TabPanel>
                                    loremsdfasdfasdasldkfmlkasdfjlkajsdfkljasdlkfjaklsdfjkalsdjf
                            </TabPanel>
                            <TabPanel>
                                    asdff
                            </TabPanel>
                            <TabPanel>
                                    asdfd
                            </TabPanel>
                            <TabPanel>
                                    asdfdsdf
                            </TabPanel>
                            <TabPanel>
                                    asdfdasdfafd
                            </TabPanel>
                        </TabPanels>
                </TabGroup>
    </div>
</template>

<script>
import {TabGroup, TabList, Tab, TabPanels, TabPanel} from '@headlessui/vue'
import { ref } from 'vue';
export default {
    components:{
         TabGroup,
         TabList,
         Tab,
         TabPanel,
         TabPanel
    },
    setup(){
        const tabActiveIndex = ref(1);

        const handleActiveTab  = (index) => {
            tabActiveIndex.value = index;
        }

        return{
            tabActiveIndex,
            handleActiveTab 
        }
    }
}
</script>

<style>

</style>