<template>
    <section
      class="bg-fixed grid relative bg-[#f7f3f2] h-[200px] lg:h-[300px] bg-center"
    >
      <img
        class="rotate-180 absolute bottom-0 left-0"
        src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff_flip.png"
      />
      <img
        class="rotate-180 absolute top-0 left-0"
        src="https://www.althemist.com/zass/wp-content/themes/zass/image/ripoff.png"
      />
      <div class="max-w-[80%] w-full mx-auto flex justify-start items-center">
        <div>
          <p class="text-base lg:text-lg text-black font-normal mb-10">
            Home | Wish list
          </p>
          <h1 class="text-black font-bold text-5xl">Wish List</h1>
        </div>
      </div>
    </section>
  
    <section class="my-20 max-w-[80%] mx-auto">
      <div class="overflow-x-auto">
        <table class="w-full">
          <thead class="bg-gray-100 py-2">
            <tr>
              <th class="text-left p-2">Product</th>
              <th class="text-left p-2">Price</th>
              <th class="text-left p-2">Stock Status</th>
              <th class="text-left p-2">Action</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td class="text-left py-2">
                <div class="flex gap-4">
                  <div class="w-20 h-20">
                    <img
                      class="w-full h-full object-cover"
                      src="https://www.althemist.com/zassmarketplace/wp-content/uploads/2017/01/zprod7-2-100x100.jpg"
                      alt=""
                    />
                  </div>
  
                  <div class="flex flex-col">
                    <h3>Product 01</h3>
                    <div class="text-xs">
                      <p class="text-sm mb-2">Pro-001</p>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-left p-2 text-red-500">$9.99</td>
             
              <td class="text-left p-2 text-red-500">88</td>
              <td class="text-left p-2">
                <button class="p-2 rounded-lg bg-gray-100  active:scale-95 transition-all">
                    <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button class="p-2 ml-2 rounded-lg bg-red-50 text-red-600 active:scale-95 transition-all">
                  <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  >
                    <path
                      fill="currentColor"
                      d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
            <tr>
              <td class="text-left py-2">
                <div class="flex gap-4">
                  <div class="w-20 h-20">
                    <img
                      class="w-full h-full object-cover"
                      src="https://www.althemist.com/zassmarketplace/wp-content/uploads/2017/01/zprod7-2-100x100.jpg"
                      alt=""
                    />
                  </div>
  
                  <div class="flex flex-col">
                    <h3>Product 01</h3>
                    <div class="text-xs">
                      <p class="text-sm mb-2">Pro-001</p>
                     
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-left p-2">$9.99</td>
             
              <td class="text-left p-2">88</td>
              <td class="text-left p-2">
                <button class="p-2 rounded-lg bg-gray-100 active:scale-95 transition-all">
                    <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    />
                  </svg>
                </button>
                <button class="p-2 ml-2 rounded-lg bg-red-50 text-red-600 active:scale-95 transition-all">
                  <svg
                    class="w-3 h-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                  >
                    <path
                      fill="currentColor"
                      d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </section>
  </template>
  
  <script>
  export default {};
  </script>
  
  <style></style>