<template>
  <header class="w-full">
    <div class="max-w-4xl h-[200px] mx-auto grid place-items-center p-5">
      <img
        src="https://i1.wp.com/www.althemist.com/zass/wp-content/uploads/2017/01/logo_ZASS.png?w=137&ssl=1"
        class="mx-auto"
      />

      <div class="flex space-x-6 items-center mt-4">
        <nav class="lg:flex gap-5 px-2 hidden">
          <router-link
            to="/"
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Home</router-link
          >

          <div class="group">
            <a
              href=""
              class="text-[#a7a094] space-x-1 group items-start font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >
              Categories
            </a>
            <div class="h-6 w-[100px] absolute bg-transparent"></div>
            <div
              class="absolute left-0 top-48 hidden group-hover:block z-50 w-full bg-opacity-95 animate-fade-up animate-ease-linear animate-duration-300"
            >
              <div
                class="p-5 2xl:px-0 w-[700px] mx-auto bg-white text-black shadow"
              >
                <div class="grid gap-2 grid-cols-12">
                  <div class="col-span-5 flex space-x-5 px-5">
                    <div
                      class="w-[250px] h-52 border border-dashed border-gray-200 overflow-hidden"
                    >
                      <img
                        src="https://www.althemist.com/zass/wp-content/uploads/2018/09/menu_banner_new.jpg"
                        alt="about-us"
                        class="object-cover p-2 w-full h-full border-2 border-white"
                      />
                    </div>
                  </div>

                  <div
                    class="col-span-7 gap-3 place-content-start grid grid-cols-12 w-full border-l-[1px] border-gray-200 px-6"
                  >
                    <a
                      href=""
                      class="col-span-6 h-fit border-b-[1px] p-1.5 border-gray-200 hover:bg-pink-400 hover:text-white transition-all"
                      >Home</a
                    >
                    <a
                      href=""
                      class="col-span-6 h-fit border-b-[1px] p-1.5 border-gray-200 hover:bg-pink-400 hover:text-white transition-all"
                      >Home</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <router-link
            to="/product"
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Products</router-link
          >
          <a
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Partners</a
          >
          <router-link
            to="/about"
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >About</router-link
          >
          <router-link
            to="/contact"
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Contact</router-link
          >
        </nav>

        <nav
          class="flex items-center border-l-0 lg:border-l-[1px] pl-5 space-x-6 px-2 border-gray-200 w-full"
        >
          <router-link to="/profile" class="relative">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
              />
            </svg>
          </router-link>

          <div class="group">
            <a href="" class="relative group">
              <svg
                class="w-7 h-7 text-[#c6c6c6]"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="currentColor"
                  d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"
                />
              </svg>

              <div class="h-6 w-[100px] absolute bg-transparent"></div>
              <div
                class="absolute left-0 top-10 hidden group-hover:block z-50 w-full bg-opacity-95 animate-fade-up animate-ease-linear animate-duration-300"
              >
                <div class="p-2 w-[200px] mx-auto bg-white text-black shadow">
                  <div class="flex flex-col space-y-2">
                    <span>English</span>
                    <span>Khmer</span>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <a class="relative">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
              />
            </svg>
            <span
              class="absolute w-4 h-4 text-[10px] text-white -top-2 -right-2 grid place-items-center rounded-full bg-red-600"
              >78</span
            >
          </a>
          <router-link to="/cart" class="relative">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"
              />
            </svg>
            <span
              class="absolute w-4 h-4 text-[10px] text-white -top-2 -right-2 grid place-items-center rounded-full bg-red-600"
              >78</span
            >
          </router-link>
          <router-link to="/cart">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
              />
            </svg>
          </router-link>
          <button
            @click="handleOpenMenu"
            type="button"
            class="inline-block lg:hidden"
          >
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"
              />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </header>

  <header
    :class="isShowNavbar ? 'top-0' : '-top-40'"
    class="duration-300 z-50 transition-all w-full py-4 fixed left-0 bg-white shadow-gray-200 shadow-sm"
  >
    <div class="max-w-[80%] flex justify-center lg:justify-between items-center w-full mx-auto">
      <a href="" class="hidden md:block">
        <img
          class="w-16 "
          src="https://i1.wp.com/www.althemist.com/zass/wp-content/uploads/2017/01/logo_ZASS.png?w=137&ssl=1"
        />
      </a>

      <div class="flex space-x-6 items-center">
        <nav class="lg:flex gap-5 px-2 hidden">
          <a
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Home</a
          >
          <div class="group">
            <a
              href=""
              class="text-[#a7a094] space-x-1 group items-start font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >
              Categories
            </a>
            <div class="h-6 w-[100px] absolute bg-transparent"></div>
            <div
              class="absolute left-0 top-16 hidden group-hover:block z-50 w-full bg-opacity-95 animate-fade-up animate-ease-linear animate-duration-300"
            >
              <div
                class="p-5 2xl:px-0 w-[700px] mx-auto bg-white text-black shadow"
              >
                <div class="grid gap-2 grid-cols-12">
                  <div class="col-span-5 flex space-x-5 px-5">
                    <div
                      class="w-[250px] h-52 border border-dashed border-gray-200 overflow-hidden"
                    >
                      <img
                        src="https://www.althemist.com/zass/wp-content/uploads/2018/09/menu_banner_new.jpg"
                        alt="about-us"
                        class="object-cover p-2 w-full h-full border-2 border-white"
                      />
                    </div>
                  </div>

                  <div
                    class="col-span-7 gap-3 place-content-start grid grid-cols-12 w-full border-l-[1px] border-gray-200 px-6"
                  >
                    <a
                      href=""
                      class="col-span-6 h-fit border-b-[1px] p-1.5 border-gray-200 hover:bg-pink-400 hover:text-white transition-all"
                      >Home</a
                    >
                    <a
                      href=""
                      class="col-span-6 h-fit border-b-[1px] p-1.5 border-gray-200 hover:bg-pink-400 hover:text-white transition-all"
                      >Home</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Products</a
          >
          <a
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Partners</a
          >
          <a
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >About</a
          >
          <a
            href=""
            class="text-[#a7a094] font-normal uppercase hover:text-[#948f85] relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
            >Contact</a
          >
        </nav>

        <nav
          class="flex items-center border-none lg:border-l-2 space-x-6 px-2 border-gray-200 w-full"
        >
          <a href="" class="relative">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
              />
            </svg>
          </a>

          <div class="group">
            <a href="" class="relative group">
              <svg
                class="w-7 h-7 text-[#c6c6c6]"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="currentColor"
                  d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"
                />
              </svg>

              <div class="h-6 w-[100px] absolute bg-transparent"></div>
              <div
                class="absolute left-0 top-10 hidden group-hover:block z-50 w-full bg-opacity-95 animate-fade-up animate-ease-linear animate-duration-300"
              >
                <div class="p-2 w-[200px] mx-auto bg-white text-black shadow">
                  <div class="flex flex-col space-y-2">
                    <span>English</span>
                    <span>Khmer</span>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <a class="relative">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
              />
            </svg>
            <span
              class="absolute w-4 h-4 text-[10px] text-white -top-2 -right-2 grid place-items-center rounded-full bg-red-600"
              >78</span
            >
          </a>
          <a class="relative">
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"
              />
            </svg>
            <span
              class="absolute w-4 h-4 text-[10px] text-white -top-2 -right-2 grid place-items-center rounded-full bg-red-600"
              >78</span
            >
          </a>
          <a>
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
              />
            </svg>
          </a>
          <button
            @click="handleOpenMenu"
            type="button"
            class="inline-block lg:hidden"
          >
            <svg
              class="w-5 h-5 text-[#c6c6c6]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"
              />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </header>

  <header
    :class="isShowMenu ? 'left-0' : '-left-full'"
    class="fixed p-5 w-full z-50 top-0 animate-fade-left animate-duration-300 duration-300 transition-all h-screen max-w-xs bg-[#222222] text-white"
  >
    <div class="flex justify-end">
      <button
      class="w-10 h-10 rounded-full border border-dashed border-white hover:bg-pink-500 grid place-items-center"
      type="button"
      @click="handleCloseMenu"
    >
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
          fill="currentColor"
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </button>
    </div>

    <nav>
        
    </nav>
  </header>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    let isShowNavbar = ref(false);
    const isShowMenu = ref(false);

    const handleOpenMenu = () => {
      isShowMenu.value = true;
    };
    const handleCloseMenu = () => {
      isShowMenu.value = false;
    };

    window.onscroll = () => {
      let scrollHeight = +Math.max(window.scrollY).toFixed(0);
      if (scrollHeight >= 200) {
        console.log(scrollHeight);
        isShowNavbar.value = true;
      } else {
        isShowNavbar.value = false;
      }
    };

    return {
      isShowNavbar,
      isShowMenu,
      handleOpenMenu,
      handleCloseMenu,
    };
  },
};
</script>
