<template>
    <swiper-container
        :slides-per-view="1"
        :space-between="spaceBetween"
        :centered-slides="true"
        :pagination="true"
        :pagination-clickable="true"
        :navigation="false"
        :autoplay-delay="2500"
        :autoplay-disable-on-interaction="false"
        :breakpoints="{
          768: {
            slidesPerView: 1,
          },
        }"
        @swiperprogress="onProgress"
        @swiperslidechange="onSlideChange"
      >
        <swiper-slide v-for="img in arr_image" :key="img">
          <img :src="img.url" />
        </swiper-slide>
      </swiper-container>
</template>

<script>
import { ref } from 'vue';

export default {
    setup(){
        const spaceBetween = 10;
    const arr_image = ref([
      {
        id: 1,
        url: "https://static.vecteezy.com/system/resources/previews/002/006/774/non_2x/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg",
      },
      {
        id: 2,
        url: "https://static.vecteezy.com/system/resources/previews/002/006/774/non_2x/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg",
      },
      {
        id: 3,
        url: "https://static.vecteezy.com/system/resources/previews/002/006/774/non_2x/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg",
      },
    ]);
    const onProgress = (e) => {
      const [swiper, progress] = e.detail;
      console.log(progress);
    };

    const onSlideChange = (e) => {
      console.log("slide changed");
    };

    return {
      spaceBetween,
      onProgress,
      onSlideChange,
      arr_image,
    };
    }
}
</script>

<style scoped>
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 700px) {
  swiper-container {
    height: 200px;
  }
}
</style>