<template>
  <NavbarView />
  <router-view/>
  <FooterView />
</template>

<script>
import FooterView from './components/FooterView.vue'
import NavbarView from './components/NavbarView.vue'
  export default{
     components:{
       NavbarView,
       FooterView
     }
  }
</script>