@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply font-raleWay;
}

@layer components {
    .box {
      box-shadow: 0px 3px 20px #0000000b;
      background-color: white;
      border-color: transparent;
      border-radius: theme("borderRadius.md");
      position: relative;
    }

    .image-fit {
        position: relative;
        & > img {
          position: absolute;
          object-fit: cover;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    
  }
  